* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
}
.top {
  background: url(./image/top-bot.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.mid {
  background: url(./image/mid.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bot {
  background: url(./image/top-bot.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
